
{% extends 'base.html.twig' %}

{% block body %}
    {{ form(formInscription) }}

    <button onclick="$('#visu').toggle()">
        Visualiser
    </button>

    <div id="visu">
    {% for personne in  aPersonnes %}
        <p>{{ personne.nom }} {{ personne.prenom }}</p>
    {% endfor %}
    </div>
{% endblock body %}